/* Styles pour le composant text-input-zone */
.text-input-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 10vw auto;
  background: linear-gradient(135deg, rgba(255,0,0,0.2), rgba(255,255,0,0.2), rgba(0,255,0,0.2), rgba(0,255,255,0.2), rgba(0,0,255,0.2), rgba(255,0,255,0.2));
  border-radius: 15px; /* Coins arrondis */
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre légère */
}

.text-input-zone form {
  width: 100%;
}

.text-input-zone fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.text-input-zone label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.text-input-zone input,
.text-input-zone textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
