/* app.component.css */
.main-container {
  display: flex;
  box-sizing: border-box;
  gap: 10px;
}

.users {
  width: 20vw;
  background: linear-gradient(90deg, rgba(0, 4, 255, 0.3), rgba(0, 157, 255, 0.3), rgba(115, 255, 0, 0.3), rgba(255, 255, 255, 0.3));
  border-radius: 15px; /* Coins arrondis */
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre légère */
}

.list-messages {
  width: 100%;
  background: linear-gradient(135deg, rgba(255,0,0,0.2), rgba(255,255,0,0.2), rgba(0,255,0,0.2), rgba(0,255,255,0.2), rgba(0,0,255,0.2), rgba(255,0,255,0.2));
  border-radius: 15px; /* Coins arrondis */
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre légère */
}
